<div class="app">
  <header>
    <section >
      <h1 id="title">{{ title }} app is running!</h1>
    </section>
    <nav>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/contact">Contact</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <router-outlet></router-outlet>
  </main>

  <footer>
    <p>footer</p>
  </footer>

</div>